.app {
  font-family: roboto, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider {
  padding-bottom: 3rem;
}

img {
  height: 400px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: sans-serif;
  gap: 10px;
}

.results {
  display: flex;
  justify-content: center;
}