.results-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
}

.results {
  border: 2px black solid;
  font-family: sans-serif;
}

.resultB {
  display: row;
  gap: 10px;
  justify-content: center;
}

